<form>
	<select name="time-frame">
	{{#each timeFrames}}
  		<option>{{this}}</option>
	{{/each}}
	</select>

	<input type="submit" value="Count time">
</form>


{{#each compositions}}
		<div>
			<img src="{{image}}">
			<p>{{name}}</p>
		</div>
{{/each}}
